<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honoka.DAO.PointMapper">
	<resultMap id="PointResultMap" type="com.honoka.entity.POINT">
		<id column="RECORD_ID" property="recordId" jdbcType="INTEGER" />
		<result column="KEY_ID" property="keyId" jdbcType="VARCHAR" />
		<result column="BAIDU_RECORD_LNG" property="baiduRecordLng" jdbcType="VARCHAR" />
		<result column="BAIDU_RECORD_LAT" property="baiduRecordLat" jdbcType="VARCHAR" />
		<result column="AMAP_RECORD_LNG" property="amapRecordLng" jdbcType="VARCHAR" />
		<result column="AMAP_RECORD_LAT" property="amapRecordLat" jdbcType="VARCHAR" />		
	</resultMap>
	<insert id="insertPointInfo" parameterType="map">
		INSERT INTO "POINT_INFO" ("KEY_ID","BAIDU_RECORD_LNG","BAIDU_RECORD_LAT","AMAP_RECORD_LNG","AMAP_RECORD_LAT")
		VALUES (#{keyId,jdbcType=VARCHAR},
		#{baiduRecordLng,jdbcType=DOUBLE},
		#{baiduRecordLat,jdbcType=DOUBLE},
		#{amapRecordLng,jdbcType=DOUBLE},
		#{amapRecordLat,jdbcType=DOUBLE}
		)
	</insert>
	
	<!-- 临时措施，需要重构 -->
	<select id="initMetroPoint">
		DELETE 
		FROM "POINT_INFO" 
		WHERE "KEY_ID" LIKE 'STA%'	
	</select>
	
	<select id="selectAllStaffPointInfo" resultMap="PointResultMap">
		SELECT "RECORD_ID", "KEY_ID", "BAIDU_RECORD_LNG", "BAIDU_RECORD_LAT", "AMAP_RECORD_LNG", "AMAP_RECORD_LAT"
		FROM "POINT_INFO"
		WHERE "KEY_ID" LIKE 'S_______'
		ORDER BY "RECORD_ID" ASC
	</select>
	
	<select id="selectPointInfoByKeyId" resultMap="PointResultMap">
		SELECT "RECORD_ID", "KEY_ID", "BAIDU_RECORD_LNG", "BAIDU_RECORD_LAT", "AMAP_RECORD_LNG", "AMAP_RECORD_LAT"
		FROM "POINT_INFO"
		WHERE "KEY_ID" = #{keyId,jdbcType=VARCHAR}
	</select>
	
	<select id="trimMetroPointData">
		DELETE FROM	"METRO_INFO" A
		WHERE A."RECORD_ID" != (
		SELECT	MIN (B."RECORD_ID")
		FROM "METRO_INFO" B
		WHERE A."STA_NAME" = B."STA_NAME"
		AND A."LINE_NAME" = B."LINE_NAME")
	</select>
	
	<update id="updatePointInfoByKeyId" parameterType="com.honoka.entity.POINT">
		UPDATE "POINT_INFO"
		SET 
		"BAIDU_RECORD_LNG" = #{baiduRecordLng, jdbcType=VARCHAR},
		"BAIDU_RECORD_LAT" = #{baiduRecordLat, jdbcType=VARCHAR},
		"AMAP_RECORD_LNG" = #{amapRecordLng, jdbcType=VARCHAR},
		"AMAP_RECORD_LAT" = #{amapRecordLat, jdbcType=VARCHAR}
		WHERE "KEY_ID" = #{keyId, jdbcType=VARCHAR}
	</update>
</mapper>