<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honoka.DAO.PointMapper">
	<!--<resultMap id="MetroResultMap" type="com.honoka.entity.Point">
		<id column="RECORD_ID" property="recordId" jdbcType="INTEGER" />
		<result column="LINE_NAME" property="lineName" jdbcType="VARCHAR" />
		<result column="STA_ID" property="staId" jdbcType="VARCHAR" />
		<result column="STA_NAME" property="staName" jdbcType="INTEGER" />
	</resultMap> -->
	<insert id="insertPointInfo" parameterType="map">
		INSERT INTO "POINT_INFO" ("KEY_ID","BAIDU_RECORD_LNG","BAIDU_RECORD_LAT","AMAP_RECORD_LNG","AMAP_RECORD_LAT")
		VALUES (#{keyId,jdbcType=VARCHAR},
		#{baiduRecordLng,jdbcType=DOUBLE},
		#{baiduRecordLat,jdbcType=DOUBLE},
		#{amapRecordLng,jdbcType=DOUBLE},
		#{amapRecordLat,jdbcType=DOUBLE}
		)
	</insert>
	
	<!-- 临时措施，需要重构 -->
	<select id="initMetroPoint">
		DELETE 
		FROM "POINT_INFO" 
		WHERE "KEY_ID" LIKE 'sta%'	
	</select>
	</mapper>