<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honoka.DAO.CompanyMapper">
	<resultMap id="CompanyResultMap" type="com.honoka.entity.Company">
		<id column="RECORD_ID" property="recordId" jdbcType="INTEGER"/>
		<result column="COM_ID" property="comId" jdbcType="VARCHAR"/>
		<result column="COM_NAME" property="comName" jdbcType="VARCHAR" />
		<result column="COM_ADDR" property="comAddr" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getCompanyMap" resultMap="CompanyResultMap">
		SELECT 
			"COM_ID", 
			"COM_NAME"
		FROM 
			"COM_INFO"
		ORDER BY 
			"RECORD_ID" ASC
	</select>
</mapper>