<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honoka.DAO.MetroAdminMapper">
	<resultMap id="MetroResultMap" type="com.honoka.entity.Metro">
		<id column="RECORD_ID" property="recordId" jdbcType="INTEGER" />
		<result column="LINE_NAME" property="lineName" jdbcType="VARCHAR" />
		<result column="STA_ID" property="staId" jdbcType="VARCHAR" />
		<result column="STA_NAME" property="staName" jdbcType="INTEGER" />
	</resultMap>
	<select id="countMetroInfo" resultType="java.lang.Integer">
		SELECT COUNT (*)
		FROM
		"METRO_INFO"
	</select>

	<select id="selectMetroInfoByPage" resultMap="MetroResultMap" parameterType="java.lang.Integer">
		SELECT "RECORD_ID", "LINE_NAME", "STA_ID", "STA_NAME"
		FROM "METRO_INFO"
		ORDER BY "LINE_NAME" ASC
		<!-- 这里也要设置 -->
		LIMIT 20
		OFFSET #{page,jdbcType=INTEGER}*20 - 20
	</select>

	<insert id="insertMetroInfo" parameterType="map">
		INSERT INTO "METRO_INFO" ("LINE_NAME", "STA_ID", "STA_NAME")
		VALUES (#{lineName,jdbcType=VARCHAR},#{staId,jdbcType=VARCHAR},#{staName,jdbcType=VARCHAR})
	</insert>
	
	<select id="initMetroInfo">
		TRUNCATE TABLE "METRO_INFO"
	</select>
	
	<select id="getMetroLineNameList" resultMap="MetroResultMap">
		SELECT DISTINCT "LINE_NAME" 
		FROM "METRO_INFO"
	</select>
	
	<select id="getMetroStationIdByLineName" resultMap="MetroResultMap">
		SELECT "STA_ID" 
		FROM "METRO_INFO" 
		WHERE "LINE_NAME" = #{lineName,jdbcType=VARCHAR}
	</select>
	
</mapper>